<app-navbar></app-navbar>

<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-b from-blue-800 to-gray-900 text-white">
    <div class="container mx-auto px-6 py-8">
        <h3 class="text-center font-bold text-4xl mb-10 tracking-wide">Trading</h3>

        <div class="grid grid-cols-4 text-center bg-gray-800 rounded-lg shadow-md py-4 mb-4">
            <div class="font-semibold text-xl">Trader Name</div>
            <div class="font-semibold text-xl">Transaction Type</div>
            <div class="font-semibold text-xl">Transaction Date</div>
            <div class="font-semibold text-xl">Trader USD Value</div>
        </div>

        <div *ngFor="let tradedata of tradeList | tradePipe: 'transactionType': true" class="grid grid-cols-4 text-center bg-gray-700 hover:bg-gray-600 transition-colors rounded-lg shadow-md py-4 mb-2">
            <div class="font-medium text-lg">{{ tradedata.firstName }}  {{ tradedata.lastName }}</div>
            <div class="font-medium text-lg">{{tradedata.transactionType}}  :   {{ tradedata.symbol }} - {{ tradedata.symbolCode }}</div>
            <div class="font-medium text-lg">{{tradedata.transactionDate}}</div>
            <div class="font-medium text-lg">{{tradedata.usdValue}}</div>
        </div>
    </div>
</div>


